.background{
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: contain;
}

.login-form{
    -fx-background-color: #343a40;
}

.login-label{
    -fx-text-fill: #ffc107;
}

.login-fields{
    -fx-background-color: #091540;
    -fx-transition: background 2s;
    -fx-text-fill: #ffc107;
}

.login-fields:focused{
    -fx-background-color: #17a2b8;
}

.btn{
    -fx-font-weight: 400;
    -fx-vertical-align: middle;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-size: 1px;
    -fx-padding: 0.375em 0.75em;
    -fx-font-size: 1em;
    -fx-line-height: 1.5;
    -fx-border-radius: 0.25em;
}

.btn-dark{
    -fx-text-fill: #ffc107;
    -fx-background-color: #091540;
    -fx-border-color: #091540;
}

.btn-dark:hover{
    -fx-background-color: #17a2b8;
    -fx-border-color: #17a2b8;
}

.button-menu{
    -fx-background-color: #000;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: rgb(76, 81, 43);
}

.button-menu:hover{
    -fx-cursor: hand;
    -fx-border-color: rgb(90, 85, 0);
}

.button-champions{
    -fx-background-image: url("../images/champions-button.jpg");
    -fx-background-size: cover;
}

.index-label{
    -fx-text-fill: transparent;
}

.button-champions:hover .index-label{
    -fx-text-fill: #ffc107;
}

.button-proplayers{
    -fx-background-image: url("../images/proplayers-button.jpg");
    -fx-background-size: cover;
}

.button-proplayers:hover .index-label{
    -fx-text-fill: #ffc107;
}

.button-teams{
    -fx-background-image: url("../images/teams-button.jpeg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-color: white;
    -fx-border-width: 5px;
}

.button-teams:hover .index-label{
    -fx-text-fill: #aa9007;
}

.button-items{
    -fx-background-image: url("../images/items-button.jpg");
    -fx-background-size: cover;
}

.button-items:hover .index-label{
    -fx-text-fill: #ffc107;
}

.background-champions{
    -fx-background-image: url("../images/champions-background.jpg");
    -fx-background-size: contain;
}

.image-border{
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: rgb(76, 81, 43);
}

.background-players{
    -fx-background-image: url("../images/players-background.jpg");
    -fx-background-size: contain;
}